# this lets git autodetect text files and do stuff automatically
* text=auto

# the following are definetly text files, which are being forced to lf, except .txt
*.txt text eol=crlf
*.c text eol=lf
*.h text eol=lf
*.sh text eol=lf
*.awk text eol=lf

# do not change binary files
*.jpg binary
*.data binary